#intro {
  background: url("../img/panorama-3094696_1920.jpg") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #AACFED !important;
}

.footer-commitech, .footer-copyright {
  background-color: #AACFED !important;
}

.rgba-black-strong {
  background-color: rgba(0,0,0,.5)!important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

@media (max-width: 768px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
  }
  .navbar:not(.top-nav-collapse) {
    background-color: #AACFED !important;
  }
  .top-nav-collapse {
    background-color: #AACFED !important;
  }
  
  .footer-commitech, .footer-copyright {
    background-color: #AACFED !important;
  }
  
  .rgba-black-strong {
    background-color: rgba(0,0,0,.5)!important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(185, 176, 255, 0.7);
  background: linear-gradient(45deg, rgba(185, 176, 255, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
  }
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .top-nav-collapse {
    background-color: #AACFED !important;
  }
  
  .footer-commitech, .footer-copyright {
    background-color: #AACFED !important;
  }
  
  .rgba-black-strong {
    background-color: rgba(0,0,0,.5)!important;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}
